body {
	padding-top: 50px;
}


#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}
.body-top {
	padding-top: 10px;
}
#noty-holder{    
    width: 100%;    
    top: 0;
    font-weight: bold;    
    z-index: 1031; /* Max Z-Index in Fixed Nav Menu is 1030*/
    text-align: center;
    position: fixed;
}

.alert{
    margin-bottom: 2px;
    border-radius: 0px;
}

@media(min-width:768px) {
    
}

#sidebar-wrapper {
	width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
	width: 0;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar-nav1 {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
	
	background: none;
}

.sidebar-nav ul li {
    text-indent: 20px;
	border-bottom: 1px solid #e7e7e7;
}

.sidebar-nav ul li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav ul li a:hover {
    text-decoration: none;
}

.sidebar-nav ul li a:active,
.sidebar-nav ul li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {

}
.sidebar-nav > .sidebar-brand a:hover {

    background: none;
}



.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}


@media(min-width:768px) {
	#page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
	
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
	
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


pre {
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
	border: 1px solid #eee;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	
	font-family: Consolas, Courier, monospace;
	color: #333;
	background: rgb(250, 250, 250);
}
.inline {
 
}
.inline.checkbox, .inline.radio {
	display:  inline-block !important;
}

.view-input-group {
	table-layout:fixed;
	width: 100%;
	border-collapse: collapse;
}
.section .body .view-input-group {
	margin: -15px -15px -15px -15px;
}
.view-input-group td {
	vertical-align: middle;
}
.view-row {
	border-collapse: collapse;
	padding-top: 11px;
	padding-bottom: 11px;
}

.with-border .view-input-group .view-row,
.with-border .view-input-group .view-row-header,
.view-input-group.with-border .view-row,
.view-input-group.with-border .view-row-header {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-top: 1px solid  #ddd;
	border-bottom: 1px solid  #ddd;
}
.view-row td {
	padding: 11px 15px 11px 15px;
}
.view-row-label {
	text-align: right;
	width: 35%;
}
.view-row-label label {
	line-height: 1.42857143;
}
.view-row-content {
	width: 85%;
	padding: 11px 15px 11px 15px;
}

.view-row-header .view-row-label {
	width: 100%;
	text-align: left;
	padding: 11px 15px 11px 15px;
	background-color: #EFEFF4;
}
.view-row-header h2 {
	font-weight: 400;
	font-size: 16px;
	
}
.xs .view-row.xs-scroll .view-row-contents,
.sm .view-row.sm-scroll .view-row-contents {
	/*width: auto;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	*/
}
.xs .view-row.xs-scroll .view-row-contents .table,
.sm .view-row.sm-scroll .view-row-contents .table {
	table-layout: auto;
	width: auto;
	max-width: none;
}

.xs #page-wrapper,
.sm #page-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.xs #page-wrapper .container-fluid,
.sm #page-wrapper .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.xs .view-row.xs-hide,
.sm .view-row.sm-hide,
.md .view-row.md-hide,
.lg .view-row.lg-hide {
	display: none;
}

.sm .view-row.flow-sm-no {
}
.sm .view-row.sm-flow {
}
.xs .view-row.xs-flow .view-row-label,
.sm .view-row.sm-flow .view-row-label {
	vertical-align: top;
}
.sm .view-row.sm-flow .view-row-contents {
	
}

.xs .view-row .view-row-label,
.sm .view-row .view-row-label {
	text-align: left;
}
.xs .view-row.xs-align-right .view-row-contents,
.sm .view-row.sm-align-right .view-row-contents {
	text-align: right;
}
.xs .view-row.xs-align-right .view-row-label,
.sm .view-row.sm-align-right .view-row-label {
	
}
.xs .view-input-group .view-row .view-row-label,
.sm .view-input-group .view-row .view-row-label {
	
}

.btn-default.btn-on,
.btn-default.btn-off {
	color:  white;
	
}
.btn-default.btn-on.active {
	background-color: #DA4F49;
	color: #B73233;
}
.btn-default.btn-off.active {
	background-color: #5BB75B;
	color: #41913E;
}
.btn-default.btn-off,
.btn-default.btn-on {
	background-color: #EFEFEF;
	color: rgb(85, 85, 85);
}

.btn-default.btn-on.active {
}
.btn-default.btn-off.active {

}

fieldset.checkboxes, fieldset.radios {
	min-height: 27px;
}
label.checkboxes, label.radios {
	margin-top: 7px;
	min-height: 27px;
}
.input-group-addon label {
	margin-bottom: 0px;
	margin-top: 0px;
	min-height: 0px;
}

.block {
	display: block;
}


div.popup {
	position: fixed;
	z-index: 999;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

div.boxed {
	padding: 15px;
	background-color: #ffffff;
}

div.round {
	border-radius: .25rem .25rem .25rem .25rem;
}
div.round .header:first-child {
	border-radius: .25rem .25rem 0 0;
}
.xs div.round .header:first-child,
.sm div.round .header:first-child {
	border-radius: 0 0 0 0;
}
div.round .body:last-child {
	border-radius: 0 0 .25rem .25rem;
}
div.round .footer:last-child {
	border-radius: 0 0 .25rem .25rem;
}

div.with-border {
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
}
div.with-border .header {
	border: 1px solid #e5e5e5;
}
div.with-border .footer {
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
}
div.with-border .body {
	border: 1px solid #e5e5e5;
}
div.with-border .body .header {
	border-width: 1px 0 1px 0;
	border-collapse: collapse;
}



.section {
    margin-top: 0;
    margin-bottom: 16px;
}

.section::before, .page .section::after {
	display: table;
	content: " ";
}
.section::after {
	clear: both;
}
.section.with-border {
	border-collapse: collapse;
	border: 0px solid #e5e5e5;
}

.section .header {
    padding: 10px;
    margin-bottom: 0px;
}
.section h1, .section h2, .section h3 {
	color: #222222;
    margin: 2px 0 0.1em 0;
	font-weight: 300;
}
.section .body {
	padding: 15px;
    margin-top: -1px;
}
.with-border .body {
	border: 1px solid #e5e5e5;
}
.section .body .header {
	margin: 10px -15px 10px -15px;
}

.section .footer {
	padding: 15px;
    margin-top: -1px;
}
.with-border .footer {
	border: 1px solid #e5e5e5;
}



.rea-group {
	
}

@media only screen and (min-width: 768px) {
	
	.rea-group div.col-sm-1, .rea-group div.col-sm-2, .rea-group div.col-sm-3,
	.rea-group div.col-sm-4, .rea-group div.col-sm-5, .rea-group div.col-sm-6,
	.rea-group div.col-sm-7, .rea-group div.col-sm-8, .rea-group div.col-sm-9,
	.rea-group div.col-sm-10, .rea-group div.col-sm-11, .rea-group div.col-sm-12 {
		padding-left: 6px;
		padding-right: 6px;
	}
	.rea-group div:first-child {
		padding-left: 0px !important;
	}
	.rea-group div:last-child {
		padding-right: 0px !important;
	}
}
@media only screen and (max-width: 768px) {
	.rea-group div.col-sm-1, .rea-group div.col-sm-2, .rea-group div.col-sm-3,
	.rea-group div.col-sm-4, .rea-group div.col-sm-5, .rea-group div.col-sm-6,
	.rea-group div.col-sm-7, .rea-group div.col-sm-8, .rea-group div.col-sm-9,
	.rea-group div.col-sm-10, .rea-group div.col-sm-11, .rea-group div.col-sm-12 {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}



/* Widgets */

.select {
	display: inline-block;
	font-size: 1em;
	margin: 10px 0px 10px 0px;
	
	width: 100%;
	max-width:90%;
	
	padding: 7px 8px;
	vertical-align: middle;
	outline: none;
}
.select.size-auto {
	width: auto;
}
.select.size-small {
	width: 20em;
}
.select.size-medium {
	width: 30em;
}



#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 998;
}
#modal-background.active {
    display: block;
}​

/* Calendar =================== */
#ui_cal_view th {
	font-weight: 400;
}
#ui_cal_view th.day_prev, #ui_cal_view th.day_next {
	text-align: center;
}

td.day {
	text-align: center;
	color: #222222;
	font-weight: 200;
	cursor: default;
	padding: 2px 2px 2px 2px;
}
td.day.active {
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}


/* Tables ===================== */

.table {
	width: 100%;
	background: #fff;
	margin: 1em 0;
	border: 1px solid #d0d0d0;
	box-shadow: none;
	border-radius: .25rem;
	color: rgba(0,0,0,.8);
	border-collapse: separate;
	border-spacing: 0;
	
	font-size:1em;
	table-layout:fixed;
}
.table-wrapper {
	width: 100%;
	min-width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}
.table-wrapper::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.table-wrapper::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}

.table thead tr:first-child>th:only-child {
	border-radius:.25rem .25rem 0 0;
}

.table thead tr:first-child>th:first-child {
	border-radius:.25rem 0 0;
}
.table thead tr:first-child>th:last-child {
	border-radius:0 .25rem 0 0;
}

.table tr td, .table tr th {
	border-left: 1px solid #d4d4d5;
}
.table thead th {
	cursor: auto;
	background: #f0f0f0;
	text-align: left;
	color: rgba(0,0,0,.8);
	padding: .7em .8em;
	vertical-align: middle;
	font-style: none;
	font-weight: 700;
	text-transform: none;
	border-bottom: 1px solid #d4d4d5;
	border-left: none;
}

.table td {
	padding: .7em .8em;
	text-align: left;
	vertical-align: middle;
}
.table tr td {
	border-top:1px solid #d4d4d5;
}

.table tr:first-child td {
	border-top:none;
}
.table tr td, .table tr th{
	border-left:1px solid #d4d4d5;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}

.table tr td.disabled, .table tr.disabled td, .table tr.disabled:hover td, .table tr:hover td.disabled {
	pointer-events: none;
	color: rgba(40,40,40,.3);
}

.striped.table tbody tr:nth-child(2n), .striped.table>tr:nth-child(2n) {
	background-color:rgba(0,0,50,.03);
}


.table tfoot {
	box-shadow: none;
}
.table tfoot th {
	cursor: auto;
	border-top: 1px solid #d4d4d5;
	background: #fff;
	text-align: left;
	color: rgba(0,0,0,.8);
	padding: .7em .8em;
	vertical-align: middle;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
}
.table tfoot tr:first-child>th:first-child {
	border-radius:0 0 0 .25rem;
}
.table tfoot tr>th:first-child {
	border-left: none;
}
.table tfoot tr:first-child>th:last-child {
	border-radius:0 0 .25rem;
}

.table td.negative, .table tr.negative td {
	background: #fff0f0 !important;
	color: #cd2929 !important;
}
.table td.positive, .table tr.positive td {
	background: #eeffe7 !important;
	color: #3c763d !important;
}
.table td a {
	text-decoration: none;
	color:#009fda;
}
.table td a:hover {
	color: #00b2f3;
}
.table tfoot th a {
	text-decoration: none;
	color:#009fda;
}
.table tfoot th a:hover {
	color: #00b2f3;
}
.table td .select {
	margin: 0 0;
}
.table td.actions {
	width: auto;
}