
RewriteEngine On
#RewriteLog "/private/var/log/apache2/rewrite.log"
#RewriteBase /api/

#This need a way to allow nested scopes/folders
#/api/<scope>/<controller>/<action>/
#RewriteRule api/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ $1/api/$2.php?api-obj=$2&api-scope=$1&api-action=$3  [L,QSA]
RewriteRule ^app/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-]+)/$ engine/reasg/app.php?api-obj=$2&api-scope=$1&api-action=$3  [L,QSA]
#RewriteRule api/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/$ $1/api/$2.php [L,QSA]

RewriteRule ^js/([A-Za-z0-9-_]+)/([A-Za-z0-9-_\.\/]+)$ $1/assets/js/$2 [L,QSA]
RewriteRule ^css/([A-Za-z0-9-_]+)/([A-Za-z0-9-_\.\/]+)$ $1/assets/css/$2 [L,QSA]
RewriteRule ^media/([A-Za-z0-9-_]+)/([A-Za-z0-9-_\.\/]+)$ $1/assets/media/$2 [L,QSA]
RewriteRule ^assets/([A-Za-z0-9-_]+)/([A-Za-z0-9-_\.\/]+)$ $1/assets/$2 [L,QSA]
