<h1>{{record_title}}</h1>
<div class="view with-border round section extend">
	<div class='header'>
		<label class='title'>Student Record</label>
	</div>
	<div class="view-input-table fields-with-border">
		<div class="input-table-row sm-stack">
			<div class="row-label">
				<label>Student Number</label>
			</div>
			<div class="row-contents">
				<input class='field' name='std_sn' placeholder="Student Number">
			</div>
		</div>
		<div class="input-table-row sm-stack">
			<div class="row-label">
				<label>Email</label>
			</div>
			<div class="row-contents">
				<div class='masked-text' name='std_email' title="University email" text-sizes="60px" mask="{[*]}{@upr.edu}"></div>
			</div>
		</div>
		<div class="input-table-row sm-stack">
			<div class="row-label">
				<label>SSN</label>
			</div>
			<div class="row-contents">
				<div class='masked-text' name='std_ssn' title="Social Security" text-sizes='40px,30px,50px' mask="{[000]}{-}{[00]}{-}{[0000]}"></div>
			</div>
		</div>
		<div class="input-table-row sm-stack">
			<div class="row-label">
				<label>Name</label>
			</div>
			<div class="row-contents">
				<input class='field' type='text' name='std_name' placeholder="Name">
			</div>
		</div>
		<div class="input-table-row">
			<div class="row-label">
				<label>Sex</label>
			</div>
			<div class="row-contents">
				<div name="sex" class="options" options='{"m":"Male","f":"Female"}' max-options=1></div>		
			</div>
		</div>
		<div class="input-table-row">
			<div class="row-label">
				<label>Languages</label>
			</div>
			<div class="row-contents">
				<div name="languages"  class="options" options='{"en":"English","sp":"Spanish","de":"German"}' max-options=2></div>		
			</div>
		</div>
		<div class="input-table-row">
			<div class="row-label">
				<label>Yes</label>
			</div>
			<div class="row-contents">
				<div name="yes" class="options yesno" default='1'></div>		
			</div>
		</div>
		<div class="input-table-row">
			<div class="row-label">
				<label>Enable</label>
			</div>
			<div class="row-contents">
				<div class="toggle" name="record_active"></div> 
			</div>
		</div>
		<div class="input-table-row">
			<div class="row-label">
				<label>Enabled Active</label>
			</div>
			<div class="row-contents">
				<div class='button with-border blue'>
					Test <span class='badge' title='Five records found...'>5</span>
				</div>
			</div>
		</div>
		<div class="input-table-row sm-stack">
			<div class="row-label">
				<label>DOB</label>
			</div>
			<div class="row-contents">
				<input class="date with-calendar" name="dob" placeholder="Date of Birthdate">
			</div>
		</div>
		<div class="input-table-row sm-stack">
			<div class="row-label">
				<label>High School Diploma Type</label>
			</div>
			<div class="row-contents">
				<div class='select size-auto' name='hstype' default='HS' options='{"HS":"High School", "HM":"Home Schooling", "GED":"GED"}'></div>
			</div>
		</div>
		
	</div>
	<div class='footer'>
		<div class='button red pull-left'>DELETE</div><div class='button'>SAVE</div>
	</div>
</div>