<!doctype html>
<html lang='{{lang}}'>
<head>
	<meta charset="utf-8">
	<base href="{{@REASG_ROOT_URL}}">
	<title>{{title}}</title>
	<meta name="description" content="REASG PAGE">
	<meta name="viewporte" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link type="text/css" rel="stylesheet" href='vendor/engine/bootstrap/css/bootstrap.css' media='all'\>
	<!-- <link type="text/css" rel="stylesheet" href='engine/vendor/bootstrap/css/bootstrap-theme.css' media='all'\> -->
	<link type="text/css" rel="stylesheet" href='vendor/engine/font-awesome/font-awesome.css' media='all'\>
	<link type="text/css" rel="stylesheet" href='css/engine/reasg-ui.css' media='all'\>
	<link type="text/css" rel="stylesheet" href='css/engine/reasg-theme.css' media='all'\>
	

	{{#repeat css[includes]}} 
	<link type="text/css" rel="stylesheet" href='{{url}}' {{attr}}\>
	{{end css[includes]}}
	
	<style>
		{{css[inline]}}
	</style>

	{{header}}
</head>
<body>
<div id='wrapper'>
	<div id="noty-holder"></div>
	<div class="navbar navbar-inverse navbar-fixed-top">
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{brand_url}}">{{brand}}</a>
			</div>
			
			<div class="navbar-default sidebar">
				<div class="sidebar-nav navbar-collapse" role="navigation">
					<ul class="nav in">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li>
							<a href="#">Shortcuts</a>
						</li>
					</ul>
				</div><!-- end sidebar-nav -->
			</div><!-- end navbar-default -->
			<ul class="nav navbar-top-links navbar-right navbar-collapse">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Please login...</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-home" title="Home..."></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-cog" title="Options..."></span></a></li>
			</ul>
		<div class='container-fluid navbar-collapse'>
			
			</div>
	</div><!-- end nav -->
	<div id='page-wrapper'>
		<div class='container-fluid'>
			<div class='body-top place-alerts'></div>
		{{body}}
		</div><!-- end container -->
	</div><!-- end page-wrapper -->
</div><!-- end wrapper -->

<script type='text/javascript' src='vendor/engine/jquery/jquery-2.1.3.min.js'></script>
<script type='text/javascript' src='vendor/engine/bootstrap/js/bootstrap.min.js'></script>
<script type='text/javascript' src='vendor/engine/medialize/URI.min.js'></script>
<!-- <script type='text/javascript' src='../engine/vendor/require/require.js'></script> -->


<script type='text/javascript' src='js/engine/rea.framework.js'></script>

<script type='text/javascript' src='js/engine/rea.helper.jquery.js'></script>
<script type='text/javascript' src='vendor/engine/others/jquery.injectCSS.js'></script>
<script type='text/javascript' src='js/engine/rea.helper.types.js'></script>
<script type='text/javascript' src='js/engine/rea.helper.ui.js'></script>

<script type='text/javascript' src='js/engine/rea.ui.controller.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.interactions.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.storage.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.view.js'></script>

<script type='text/javascript' src='js/engine/rea.ui.extend.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.datasource.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.panels.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.table.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.calendar.js'></script>


{{#repeat js[includes]}} 
<script type='text/javascript' src='{{url}}'></script>
{{end js[includes]}}

<script type="text/javascript" name='j1'>
	$(document).ready(function(){
		
		rea.initialize();
		rea_controller.dispatchEvent("ready");
		rea_controller.dispatchEvent("initialize");
		
		rea.loadComponents();
		
		rea_helper_ui_extender.expandDefaults();
		
		{{js_ready}}
		
		{{js[inline]}}
	});
	
	{{js_init}}
	
	{{js_payload}}
	
	
	
	
</script>
</body>
</html>