<!doctype html>
<html lang='{{lang}}'>
<head>
	<meta charset="utf-8">
	<base href="{{@REASG_ROOT_URL}}">
	<title>{{title}}</title>
	<meta name="description" content="REASG PAGE">
	<meta name="viewporte" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link type="text/css" rel="stylesheet" href='vendor/engine/font-awesome/font-awesome.css' media='all'\>
	
	<link type="text/css" rel="stylesheet" href='css/engine/reasg.ui.primitives.css' media='all'\>
	<link type="text/css" rel="stylesheet" href='css/engine/reasg.ui.css' media='all'\>
	
	{{#repeat css[includes]}} 
	<link type="text/css" rel="stylesheet" href='{{url}}' {{attr}}\>
	{{end css[includes]}}
	
	<style>
		{{css[inline]}}
	</style>

	{{header}}
</head>
<body>
<div class='view-page with-sidebar left-pane-hidden'>
	<div id="noty-holder"></div>
	<div class='view bar bar-nav'>
		<div class='brand pull-left'>{{brand}}</div>
		<div class='button sidebar-toggle pull-right'><i class="fa fa-bars"></i></div>
		<div class='button pull-right disabled' title="Settings" role="button"><i class="fa fa-cog"></i></div>
		<div class='button pull-right' role="button"><i class="fa fa-home"></i></div>
	</div><!-- bar-nav -->
	<div class='left-pane'>
		<div class='sidebar with-brand list-pane dark' role="navigation">
			<div class='brand'>
				<div class='button sidebar-toggle pull-right'><i class="fa fa-chevron-left"></i></div>
				{{brand}}
			</div>
			<a class='menu-entry list-row' href="#">Dashboard</a>
			<a class='menu-entry list-row' href="#">Shortcuts</a>
		</div>
	</div><!-- left-pane -->
	<div class='right-pane'>
		<div class='view view-main'>
			{{body}}
		</div><!-- view-main -->
	</div><!-- right-pane -->
<div><!-- view-page -->	
	
<script type='text/javascript' src='vendor/engine/jquery/jquery-2.1.3.min.js'></script>
<script type='text/javascript' src='vendor/engine/medialize/URI.min.js'></script>
<!-- <script type='text/javascript' src='../engine/vendor/require/require.js'></script> -->


<script type='text/javascript' src='js/engine/rea.framework.js'></script>

<script type='text/javascript' src='js/engine/jquery.reasg.js'></script>
<script type='text/javascript' src='js/engine/jquery.reasgui.js'></script>
<script type='text/javascript' src='vendor/engine/others/jquery.injectCSS.js'></script>

<script type='text/javascript' src='js/engine/rea.helper.types.js'></script>
<script type='text/javascript' src='js/engine/rea.helper.ui.js'></script>

<script type='text/javascript' src='js/engine/rea.ui.controller.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.interactions.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.storage.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.view.js'></script>

<script type='text/javascript' src='js/engine/rea.ui.extend.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.datasource.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.panels.js'></script>

<script type='text/javascript' src='js/engine/rea.rte.js'></script>

<script type='text/javascript' src='js/engine/rea.ui.widgets.min.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.wg.basic.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.table.js'></script>
<script type='text/javascript' src='js/engine/rea.ui.calendar.js'></script>


{{#repeat js[includes]}} 
<script type='text/javascript' src='{{url}}'></script>
{{end js[includes]}}

<script type="text/javascript" name='j1'>
	$(document).ready(function(){
		
		rea.initialize();
		rea_controller.dispatchEvent("ready");
		rea_controller.dispatchEvent("initialize");
		
		rea.loadComponents();
		
		rea_helper_ui_extender.expandDefaults();
		
		{{js_ready}}
		
		{{js[inline]}}
		
		
		rea_controller.on("std_sn_change", function(msg){
			console.log("@std_sn_change");
			console.log(arguments);
		});
	});
	
	{{js_init}}
	
	{{js_payload}}
</script>
</body>
</html>